// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index
#products {
  max-width: 100rem;
  padding: 1rem 2rem;

  .products {
    &__table {
      width: 100%;
    }
  }

  .product {
    &__detail {
      text-align: center;
      vertical-align: middle;
    }

    &__image {
      max-width: 5rem;
    }
  }
}

// show
#product {
  max-width: 100rem;
  padding: 1rem 2rem;
}

// new
#product-new {
  max-width: 100rem;
  padding: 1rem 2rem;
}

// edit
#product-edit {
  max-width: 100rem;
  padding: 1rem 2rem;
}

// form partial
#product-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .field {
    display: flex;
    flex-direction: column;
  }
}