@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

// variables
:root {
  // colors
  --white: #eee;
  --grey: #888;
  --black: #333;
  --primary-color: #ffc0cb;
  --accent-color: #afd;

  // fonts
  --primary-font: "Montserrat", sans-serif;
  --font-size: 1.5rem;
  --h1-size: 5rem;
  --h2-size: 4rem;
  --h3-size: 3rem;
  --h4-size: 2rem;

  // spacing
  --gap: 1rem;
  --header-height: calc(var(--gap) * 20);
  --footer-height: calc(var(--gap) * 3);
  --max-page-width: 100rem;

  // media queries
  --tablet: 550px;
}

body {
  font-family: var(--primary-font);
  color: var(--white);
  background-color: var(--black);
  -webkit-appearance: none;
  font-size: var(--font-size);
  position: relative;
}

// Cursor Selection
::selection {
  background: var(--accent-color); /* WebKit/Blink Browsers */
  color: var(--black);
}
::-moz-selection {
  background: var(--accent-color); /* Gecko Browsers */
  color: var(--black);
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--black); 
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 1000rem;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h1 { font-size: var(--h1-size); }

a,
a:visited {
  color: var(--white);
  text-decoration: underline;
}

button,
input[type="submit"] {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: var(--gap);
  font-size: 1rem;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  font-family: inherit;
  padding: calc(var(--gap) / 2);
  font-size: 1rem;
}

.main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}
